body {
    background-color: #2D2D34;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
    color: white;
    padding: 150px;
    padding-left: 5px;
}

.main b {
    color: #7899D4;
}

.main b:hover {
    color: white;
}

.about {
    color: white;
}

.about h1 {
    text-align: center;
}

.about h4 {
    text-align: center;
}
